@use '../utils' as *;

  /*
 ::::::::::::::::::::::::::
  MARKET AREA CSS
 ::::::::::::::::::::::::::
 */


 .market-page-sec1 {
  .market-update-boxs {
    background-color: var(--vtc-bg-common-bg1);
    padding: 32px;
    border-radius: 4px;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: 60px;
    @media #{$md} {
      margin-left: 0;
      margin-right: 0;
    }

    @media #{$xs} {
      margin-left: 0;
      margin-right: 0;
    }

    .update-box {
      padding: 24px;
      background-color: #fff;
      border-radius: 4px;
      position: relative;
      transition: all .4s;

      &:hover {
        transition: all .4s;
        transform: translateY(-10px);
      }

      @media #{$md} {
        margin-top: 30px;
      }

      @media #{$xs} {
        margin-top: 30px;
      }

      h3 {
        color: var(--Core-Black, #000);
        font-size: 20.132px;
        font-style: normal;
        font-weight: 600;
        line-height: 22.6px; /* 112.26% */
        padding-top: 24px;
      }

      .icon-area {
        display: flex;
        align-items: center;

        .heading {
          padding-left: 16px;
          h5 {
            color: var(--Core-Black, #000);
            font-size: 16.105px;
            font-style: normal;
            font-weight: 600;
            line-height: 28.184px; /* 175% */
          }

          p {
            color: var(--Cool-Gray-09, #626D7D);
            font-size: 13.086px;
            font-style: normal;
            font-weight: 500;
            line-height: 22.362px; /* 170.89% */
          }
        }
      }

      .bottom-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 14px;

        .author {
          color: var(--Cool-Gray-09, #626D7D);
          font-size: 13.086px;
          font-style: normal;
          font-weight: 500;
          line-height: 22.362px; /* 170.89% */
        }
        .up {
          color: var(--Green-1, #219653);
          font-size: 13.086px;
          font-style: normal;
          font-weight: 600;
          line-height: 22.6px; /* 172.708% */
        }
        .down {
          color: var(--Green-1, #EB5757);
          font-size: 13.086px;
          font-style: normal;
          font-weight: 600;
          line-height: 22.6px; /* 172.708% */
        }
        .up-bg {
          color: var(--Green-1, #219653);
          font-size: 11.072px;
          font-style: normal;
          font-weight: 600;
          line-height: 22.6px; /* 204.109% */
          border-radius: 61.636px;
          background: rgba(33, 150, 83, 0.20);
          padding: 2px 6px;
        }
        
      }
      .ye {
        position: absolute;
        right: 60px;
        top: 35px;
      }

      .chart {
        position: absolute;
        top: 60px;
        right: 40px;
      }
    }
  }



  //==== chart sec sytle ====

  .market-tab {
    .nav {
      background-color: var(--vtc-bg-common-bg1);
      padding: 24px;
      border-radius: 4px;
      margin-top: 50px;

      li {
        button {
          padding: 18px 20px;
          border-radius: 4px;
          background: #fff;
          margin-right: 16px;
          color: var(--Home-Page-3-Color-Text-Color, #070811);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px; /* 100% */
          text-transform: capitalize;

          &.active {
            background: var(--vtc-bg-main-bg-1);
            color: #fff;
          }
        }
      }
    }
  }
 }

   
   /*
 ::::::::::::::::::::::::::
  MARKET AREA CSS
 ::::::::::::::::::::::::::
 */